*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    user-select: none;
}

body{
    /* height: 100vh; */
    /* width: 100wh; */
   /* background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4,9,30,0.7)),url("https://images.unsplash.com/photo-1504653601220-f1a8ece25e4a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGRydW1zfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"); */
    /* background-repeat: no-repeat;
    background-size:cover; */
    color: #fff;
    text-align: center;
    position: relative;
}

.container{
    background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4,9,30,0.7)),url("https://images.unsplash.com/photo-1504653601220-f1a8ece25e4a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGRydW1zfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* width: 100vh; */
    height: 100vh;
    justify-content: center;
    
}

h1{
    margin-bottom: 50px;
    transform: scale(2);
}

.drum{
    width: 150px;
    aspect-ratio: 1/1;
    font-size: 3rem;
    font-weight: bolder;
    border-radius: 8px;
    transition:transform 0.2s ease-in-out;
    border:none;
    outline: none;
    cursor: pointer;
    margin:7px 8px;
    color: #fff;
    text-shadow: 0 2px 10px gray;
}
.w{
    background-image:radial-gradient(rgba(5, 9, 24, 0.7),rgba(58, 59, 61, 0.7)), url(https://images.unsplash.com/photo-1571327073757-71d13c24de30?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZHJ1bXN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
}

.s{
    background-image:radial-gradient(rgba(5, 9, 24, 0.7),rgba(58, 59, 61, 0.7)), url(https://images.unsplash.com/photo-1631025721223-4e3106970d79?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGRydW1zfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
}

.a{
    background-image:radial-gradient(rgba(5, 9, 24, 0.7),rgba(58, 59, 61, 0.7)), url(https://media.istockphoto.com/photos/man-playing-the-snare-drum-on-a-beautiful-colored-background-picture-id1136596701?b=1&k=20&m=1136596701&s=170667a&w=0&h=j5gjIA7z99IolU5M2WjSuFtIRPFvCD9uPi01XybtidU=);
    background-size: cover;
}

.d{
    background-image:radial-gradient(rgba(5, 9, 24, 0.7),rgba(58, 59, 61, 0.7)), url(https://images.unsplash.com/photo-1626962131658-603aae425e19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGRydW1zfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
}

.j{
    background-image:radial-gradient(rgba(5, 9, 24, 0.7),rgba(58, 59, 61, 0.7)), url(https://media.istockphoto.com/photos/motion-picture-of-a-bongo-player-picture-id530434969?k=20&m=530434969&s=612x612&w=0&h=4wvD2V4UKPJqNR_C1ERgYdvaUUtgYBVqnBBUxFAzEm4=);
    background-size: cover;
}

.k{
    background-image:radial-gradient(rgba(5, 9, 24, 0.7),rgba(58, 59, 61, 0.7)), url(https://media.istockphoto.com/photos/silver-chrome-snare-drum-with-sticks-instrument-on-white-background-picture-id186875718?b=1&k=20&m=186875718&s=170667a&w=0&h=HU69sWRie6OsOtINn2n-HFyNshqQ_UBh0E0V2eQgMZA=);
    background-size: cover;
}

.l{
    background-image:radial-gradient(rgba(5, 9, 24, 0.7),rgba(58, 59, 61, 0.7)), url(https://images.unsplash.com/photo-1519892300165-cb5542fb47c7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8ZHJ1bXN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
}

.drum:hover{
    transform: translateY(-2px);
}

.drum:active{
    transform: scale(1.1);
  
    font-style: inherit;
  
    
}

/* #volume_control{
    margin:50px
} */

#volume_slider{
    height: 7px;
    width: 200px;
    border:none;
    outline:none;
   margin:30px
}

.util_buttons{
    margin-top:3opx;
}

.util_buttons button{
    width: 200px;
    height: 50px;
    border-radius: 6px;
    border:none;
    outline: none;
    margin:10px;
    transition:transform 0.2s ease-in;
    cursor: pointer;
    font-size: larger;
    font-weight: bolder;
}

.util_buttons button:active{
    transform: translateY(-5px) scale(1.1);
    
    opacity: 0.4;
}

.clicking{
    transform: scale(1.1);
   
    font-style: inherit;
   
}

.automatic{
    background-color: red;
    color:whitesmoke;
}

@media(max-width:300px){
    .drum{
        width: 20px;
        aspect-ratio: 1/1;
        font-size: x-small;
    }
    h1{
        font-size:large
    }

    .util_buttons button{
        width: 100px;
        height: 30px;
        font-size: small;
        border-radius: 3px;
    }
    #volume_slider{
        width: 100px;
        margin-left: 2px;
    }
    .container{
        position: fixed;
    }
}

